:root{
    --big-color: #080808;
    --secound-big-color:#131313;
    --text-color: white;
    --main-color: #00ffee;
  }
body, html, #app {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/thando3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
     radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5) 200%);
  }

  
  
  #app {
    position: relative;
    height: 100%;
    font-family: "Montserrat", serif;
    
  }
  
  .hero {
    height: 40%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    line-height: 100%;
    user-select: none;
  }
  
  h1 {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 80px;
    font-weight: 500;
  }
.phara{
    font-size: 50px;
    font-weight: 400px;
    margin: 10%;
    color: aliceblue;
  }
  
  #webgl-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
  
  .buttons {
    position: fixed;
    width: 100%;
    bottom: 15px;
    z-index: 2;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  button {
    font-family: "Montserrat", serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid grey;
    padding: 4px 8px;
  }

.education{


    padding: 100px 5px;
    background: var(--secound-big-color);
    }

.education h2{
    margin-bottom: 5rem;
    margin-left: 900px;
    color: var(--main-color);
    }
    
    .timeline-item{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    }
    
.timeline-item::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var();
    left: calc(50% - 1px);
    
    }
    
 .timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    }
    
.timeline-item:last-child{
    margin-bottom: 0;
    }
    
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
    }
    
 .timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    }
    
    /*.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #00abf0;
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(var(--main-color));
    
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
    
    }*/
    
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px ;
    }
    
.timeline-content {
    background-color: var(--big-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    }
    
    .timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
    }
    
    .timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
    }
    .timeline-content img{
    padding: ;
    margin: ;
    width: 100%;
    background-size:cover;
    }
    .timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    }
    ::-webkit-scrollbar{
    width: 15px;
    }
    ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    }
    ::-webkit-scrollbar-track{
    background-color: var(--big-color);
    width: 50px;
    }
    